<div class="eight columns">
	<div class="content bio">
		<h3>I am Katy Aftermath</h3>
		<%= image_tag 'me.jpeg', :class => 'bio_image' %>
		<p><h6>Growing Up:</h6>My name is Katy Milstead. I was born in 1988 in Johnson City, New York. From there, most of my life was spent on the east side of Binghamton, New York. After 17 years in that house, I went off to a little college named Davis College back in my birth-town of Johnson City, New York. I did 2 summer internships in the heart of Cleveland, Ohio. I was a camp counselor to under priveledged children and it was quite the learning experience. After college, I moved back to Binghamton, New York, got a job and an apartment and started my life full of random adventures with random people I've met along the way. When I was tired of that scene, I moved up to the hole-in-the-wall city named Brushton, New York. Spend about a year there and in Malone, New York, and had to see a city and get rid of the cows and shit smell. So that's how I ended up in Plattsburgh, New York.
		<p>
		<h6>What I Am Up To Lately:</h6>I'm working 2 jobs where I stare at multiple computer screens for around 14 hours a day. These days are long and hard, but who gives a shit because I get to see and hear these random weird ass stories and things that I wouldn't trade for the world.
		<p>
		<h6>What This Site Means To Me:</h6> This is just a blog for me to get some randomness outta my head and back out into the world. Think of it as my way of "giving back".
		<p>
		<h6>What You Can Do:</h6> E-mail me some funny shit and I might even pay you for your stories, tales, riddles, and all that shit. E-mail, text, facebook, what the fuck ever dude, tell me and some friends some epic stories!
		<p>
		<h2>Thanks for stopping by!</h2>
		<span class="clear"></span>
	</div>
</div>
<div class="four columns">
	<div class="sidebar">
		
	</div>
</div>
