<% unless @page.sidebar.empty? %>
	<div class="eight columns content">
		<div class="content clearfix">
			<%= raw @page.content %>
		</div>	
	</div>
	<div class="four columns">

		<%= raw @page.sidebar %>
	</div>
<% else %>
	<div class="twelve columns">
		<div class="content">
			<%= raw @page.content %>
			<span class="clear"></span>
		</div>
	</div>
<% end %>

