<% @posts.each do |post| %>

	<div class="blog_post"><!-- Begin Blog Post -->
		<div class="row">
			<div class="span4">
				<h2>
					<%= time_ago_in_words(post.created_at) %>
				</h2>
			</div>

			<div class="span8">
				<h5 class="blog_title"><%= post.title %></h5>	
			</div>

		</div>

		<div class="post_content">
			<%= image_tag('cartoon.jpeg') %>
			<p><%= truncate(post.content, :length => 800) %></p>
		</div>	

		<button class="btn-small btn-danger">+ Continue Reading</button>

	</div><!-- /Blog Post -->

<% end %>