<!-- Sidebar -->
		<div class="span4 hidden-phone">
			
			<div id="blog_sidebar">
				<div class="who-am-i">
						<%= image_tag('cartoon.jpeg') %>
						<div class="name">Katy Milstead</div>
				</div>
				<div class="bio">
						<h4 class="bio_title">About Me</h4>
						<p>
							<%= image_tag 'me.jpeg' %>
							<p>My name is Katy, I'm a 23 year old living in very upstate New York. This is my blog to enter in weird shit that comes to my mind through out the day, mostly of which is thought of in the shower. </p><p>Feel free to browse along, laugh at me, laugh with me, and hopefully brighten up your day. Head to my contact page if you want to email me or leave me love notes and shit. Thanks for stopping by! </p>
					</p>
						</p>
					</div>
			</div>

	</div><!-- / Sidebar -->