<div class="container">
	<!-- Main View -->
	<div class="row">

		<!-- Main Blog View -->
		<div id="blog_view" class="span8">
			<%= render 'post' %>
		</div><!-- / Main Blog View -->

		<%= render 'sidebar' %>

	</div><!-- / Main View -->
</div>

