

	<% @posts.each do |post| %>

		<div class="row blog_post">
			<div class="blog_title">
				<%= image_tag('gas-mask-title.jpg', class: 'title_image') %>
				<h3 class="blog_title"><%= post.title %></h3>	
			</div>

			<div class="date">
				<%= post.created_at %>
			</div>

			<div class="post_content">
				<%= post.content %>
			</div>	

			<button class="btn btn-danger pull-right btn-small">+ Continue Reading</button>

		</div>

<% end %>