

<div class="row">
	<!-- Main Blog View -->
	<div id="blog_view" class="eight columns">
		<% if @posts.any? %>
		<%= render 'posts' %>
		<%= will_paginate @posts %>
		<% end %>
	</div><!-- / Main Blog View -->

	<!-- Sidebar -->
	<div class="four columns">
		<div id="blog_sidebar">
			<div class="who-am-i">
				<%= image_tag('who-am-i.jpeg') %>
				<div class="name">Katy Milstead</div>
				<div class="bio">
					<h3 class="bio_title">Biography:</h3>
				</div>
			</div>
		</div>
	</div><!-- / Sidebar -->
</div>