@import 'bootstrap.min.css';
body{
	background-color:#f4f4ec;
	background:url('../img/background.jpeg') #f4f4ec;
	background-size:100%;
	background-repeat:no-repeat;
	background-position:0% -50px;
}
.content{
	margin-top:375px;
}
footer{
	text-align:center;
	padding:20px;
	border-top:1px dashed #ccc;
}
#header{
	padding:20px;
}

#blog_sidebar{
	text-align:center;
}
.hero-unit{
	text-align:center;
}
.new_post{
	text-align:center;
}

.blog_post{
	background:white;
	padding:10px;
	border-radius:20px;
	margin-bottom:20px;
}
.blog_title{
	margin-bottom:5px;
	color:#a22a22;
}
.title_image{
	width:25px;
	margin-right:10px;
	float:left;
}
.post_content{
	margin:10px 0 10px 0;
	line-height:1.8em;
	padding-bottom:10px;
	font-size:12px;
}
.post_content img{
	width:175px;
}
.who-am-i img{
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	z-index:9999;
}
.who-am-i .name{
	position:relative;
	font-size:20px;
	border-bottom-right-radius:20px;
	border-bottom-left-radius:20px;
	padding-top:10px;
	color:white;
	background:#a22a22;
	width:468;
	height:30px;
	margin-bottom:20px;
}
.who-am-i .bio{
	border-radius:20px;
	background:white;
	min-height:400px;
	text-align:left;
}
.bio_title{
	border-bottom:1px solid #a22a22;
	color:#a22a22;
	margin:20px;
}
#admin_panel{
	position:absolute;
	top:0;
	display:block;
	padding-right:50px;
	line-height:50px;
	text-align:right;
	display:none;
	height:50px;
	width:100%;
	background-color: #424242;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#444), to(#333));
    -webkit-transition: all 300ms ease-out;
    -webkit-box-shadow: 0 -1px 3px rgba(0,0,0,0.65);
}
#admin_panel a{
	color:white;
	font-size:20px;
	padding-right:20px;
}
#admin_panel a:hover{
	color:#00bbff;
}
#toggle{
	position:absolute;
	top:0;
	margin-left:50px;
	text-align:center;
	cursor:pointer;
	width:50px;
	height:50px;
	line-height:50px;
	font-size:35px;
	background:#a22a22;
	color:white;
}
.home-icon{
	position:fixed;
	top:0;
	right:0;
}