$gray: #151515;
$grayLight: #999;
$grayLighter: #eee;
$green: #43442b;
$darkOrange: #F2A000;
$dark:#292929;
$red:#A92F41;

@import "bootstrap";
@import "bootstrap-responsive";
@import url(http://fonts.googleapis.com/css?family=Anonymous+Pro);
@import url(http://fonts.googleapis.com/css?family=Karla:400,400italic,700);

.center{
	text-align:center;
}

/**********************************************
* Shadows
**********************************************/
.raised {
    -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.drop-shadow {
  position:relative;
  float:left;
  width:40%;
  padding:1em;
  margin:2em 10px 4em;
  background:#fff;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.drop-shadow:before,
.drop-shadow:after {
  content:"";
  position:absolute;
  z-index:-2;
}

.drop-shadow p {
  font-size:16px;
  font-weight:bold;
}

.curved:before {
  top:10px;
  bottom:10px;
  left:0;
  right:50%;
  -webkit-box-shadow:0 0 15px rgba(0,0,0,0.6);
  -moz-box-shadow:0 0 15px rgba(0,0,0,0.6);
  box-shadow:0 0 15px rgba(0,0,0,0.6);
  -moz-border-radius:10px / 100px;
  border-radius:10px / 100px;
}

.curved-vt-2:before {
  right:0;
}
.turnup{
	height:9px;
	background:url('turn-up.png') top center;
	background-size:100%;
	margin-bottom:20px;
}
/**********************************************
* Typography
**********************************************/


/**********************************************
* Links and overrides
**********************************************/
ul{
	margin:0;
	padding:0;
	list-style:none;
}
a{
	color:$grayLight;
}
a:hover{
	color:black;
}
body{
	font-family: 'Karla', sans-serif;
	background:#000 url('background.jpeg') top center;
	background-size:100%;
	background-repeat:no-repeat;
}

.border{
	border:1px solid black;
}

.content{
	width:100%;
	background:#fff url('type2.png') top center no-repeat;
	background-size:100%;
	padding:30px 0 30px 0;
}

/**********************************************
* header
**********************************************/

#header{
	color:$grayLighter;
	background:transparent;
	margin-bottom:30px;
}

.logo{
	width:20em;
}

.katy_aftermath{
	text-align:center;
	font-family: 'Anonymous Pro', sans-serif;
	height:175px;
	padding-top:5em;
	.logo_name{
		height:100%;
		font-size:3em;
		line-height:1em;
	}
	.sub_header{
		text-shadow:3px 3px $dark;
		font-style:italic;
		font-size:1.5em;
		line-height:0.75em;
		margin-top:-1em;
	}
}
#footer{
	padding-top:50px;
	background:#2D2D2D url('type2.png') top center no-repeat;
	background-size:100%;
	width:100%;
	margin-bottom:0;
	color:$grayLighter;
	min-height:150px;
}
#footer_content{
	text-align:center;
	ul{
		margin:0 auto;
		li{
			display:inline-block;
			font-size:1.4em;
			width:75px;
			a:hover{
				color:$grayLighter;
				text-decoration:none;
			}
		}
	}
}
#footer_bottom{
	padding:20px;
	text-align:center;
}
#header{
	padding:20px;
}

/**********************************************
* Blog and related views
**********************************************/

.blog_title,.post{
	color:$green;
}
.blog_title{
	font-size:2em;
}
@media (max-width: 480px) {
	.blog_title{
		height:20px;
		line-height:20px;
	}
}

@media (min-width: 768px) and (max-width: 1400px) {
	.blog_title{
		height:65px;
		line-height:65px;
		background:url('postflag.png') 95% top  no-repeat;
		border-top:1px solid $grayLight;
	}
}
.post_wrapper{
	margin-bottom:50px;
	position:relative;

}

.post_info{
	text-transform:uppercase;
	margin:10px 0 10px -20px;
	font-size:0.9em;
	padding:4px 59px 0px 20px;
	line-height: 1.94em;
	height:32px;
	color:$grayLight;
}
.post{
	color:$grayLight;
	font-size:1.3em;
	line-height:2em;
	.title_image{
		overflow:hidden;
		padding-bottom:16px;
		background:url('photo-shadow.png') bottom center no-repeat;
		background-size:100%;
		width:100%;
		margin-bottom:30px;
	}
}
.more-button{
	margin-top:30px;
	border-bottom-left-radius:10px;
	border-top-right-radius:10px;
	font-size:1.3em;
}
.more-button:hover{
	background:#3b3b3b;
}

/**********************************************
* Sidebar
**********************************************/

#blog_sidebar{
	padding-left:20px;
	background:url('image_shadow.png') top left no-repeat;
	text-align:center;
	margin-right:30px;
}

.who-am-i{
	padding:5px;
	background:#717171;
}
.who-am-i img{
	z-index:9999;
}
.who-am-i .name{
	font-size:20px;
	line-height:20px;
	margin-top:-30px;
	color:white;
	background:$dark;
	opacity:0.7;
	height:30px;
	
}
.bio{
	color: $grayLight;
	font-size:1.2em;
	padding:10px;
	min-height:400px;
	text-align:left;
	img{
		padding:4px;
		background:white;
		width:50%;
		float:left;
		margin-right:5px;
		border:1px solid black;
	}
	p{
		line-height:1.8em;
	}
}
.turn-up-100{
		background:url('turn-up-100.png') top center;
		height:5px;
		width:100px;
	}
.bio_title{
	border-bottom:1px solid $green;
	color:$green;
	margin-bottom:20px;
}

