$gray: #151515;
$grayLight: #999;
$grayLighter: #eee;
$green: #5c895e;
$darkOrange: #F2A000;
$dark:#292929;
$red:#A92F41;
$orange:#5c895e;

@import url(http://fonts.googleapis.com/css?family=Anonymous+Pro);
@import url(http://fonts.googleapis.com/css?family=Karla:400,400italic,700);
@import url(http://fonts.googleapis.com/css?family=Amatic+SC);

.center{
	text-align:center;
}

/**********************************************
* Typography
**********************************************/

h5{
	color:$green;
	border-bottom:1px solid white;
	width:100%;
	padding-bottom:10px;
	padding-top:50px;
}

/**********************************************
* Links and overrides
**********************************************/
ul{
	margin:0;
	padding:0;
	list-style:none;
}
a{
	color:#eee;
}
a:hover{
	color:$grayLight;
}
body{
	color:#eee;
	font-family: 'arial', sans-serif;
	background:black url('background2.jpg') no-repeat top center;
	background-size:100%;
	background-repeat:no-repeat;
	background-attachment:fixed;
}
.clear{
	clear:left;
	display:block;
}


/**********************************************
* header
**********************************************/

#header{
	color:$grayLighter;
	position:relative;
	margin-bottom:100px;
	height:150px;
	background:url(content_bg.png);

	.navigation{
		display:block;
		height:150;
		text-align:right;
		padding-right:50px;
		li{
			height:150px;
			line-height:150px;
			width:100px;
			text-align:center;
			color:white;
			font-size:1.4em;
			display:inline-block;
			a{
				color:$grayLight;
			}
		}
	}
}

#footer{
	margin:20px 0;
	position:relative;
	padding:20px;
	color:$grayLight;
	p{
		line-height:40px;
	}
}
#social{
	float:right;
	height:50px;
	li{
		display:inline-block;
		margin:5px;
	}
	li img:hover{
		opacity:0.6;
	}
}

/**********************************************
* Blog and related views
**********************************************/
.blog_title, .blog_title a{
	font-size:1.2em;
	color:$green;
}
@media (max-width: 480px) {
	.blog_title, .blog_title a{
		color:$green;
		height:20px;
		line-height:20px;
	}
}
.content{
	background:url(content_bg.png);
	margin-bottom:50px;
	padding:20px;
	position:relative;
	.date{
		position:absolute;
		text-align:center;
		left:-65px;
		top:50px;
		background:url(date_bg.png);
		color:white;
		width:65px;
		height:65px;
	}
	.day{
		display:block;
		margin:5px;
		border-bottom:1px solid white;
		color:white;
		height:49%;
		font-size:1.5em;
	}
	.month{
		display:block;
		height:50%;
		width:100%;
		font-size:1.5em;
	}

}

@media (max-width: 768px) {
	.content{
		.date{
			right:0;
			top: 0;
		}
	}
}

.post_info{
	text-transform:uppercase;
	font-size:0.9em;
	line-height: 1.94em;
	height:32px;
	color:$grayLighter;
}
.post{
	margin-top:30px;
	margin-bottom:60px;
	color:$grayLighter;
	font-size:1em;
	line-height:2em;
	.title_image{
		margin:1px;
		padding:5px;
		background:white;
		outline:1px solid $grayLight;
		overflow:hidden;
		width:100%;
	}
}

.more-button{
	position:absolute;
	right:0px;
	bottom:0px;
	margin:30px 20px 20px 0;
	opacity:0.8;
	padding:5px;
	border-bottom-left-radius:10px;
	border-top-right-radius:10px;
	font-size:1.6em;
	background:$green;
	color:white;
}
.more-button:hover{
	color:white;
	opacity:1;
}
.pagination{
	margin-left:20px;
}
.like-buttons{
	height:44px;
	border-top:1px solid $grayLight;
	border-bottom:1px solid $grayLight;
	padding-top:6px;
	text-align:right;
	.share_this{
		line-height:44px;
		padding-top:0px;
	}
}
/**********************************************
* Sidebar
**********************************************/

.sidebar{
	background:url(content_bg.png);
	padding:20px;
}
.who-am-i{
  padding:2px;
  background:white;
  border:1px solid black;
}
.who-am-i img{
  z-index:9999;
}
.who-am-i .name{
	text-align:center;
  font-size:20px;
  line-height:20px;
  margin-top:-30px;
  color:white;
  background:$dark;
  opacity:0.7;
  height:30px;

}
.bio{
	font-size:1em;
	text-align:left;
	h6,h2{
		color:$green;
	}
	h3{
		text-align:center;
	}
	h6{
		border-bottom:1px solid $green;
	}
	p{
		line-height:1.8em;
	}
}
.bio_title{
	border-bottom:1px solid white;
	margin-bottom:20px;
}

