
<div id="footer">
	<div class="row">
		<div class="six columns">
			<p>&copy;2012 <%= link_to 'Katy Milstead', root_path %> All Rights Reserved</p>
		</div>
		<div class="six columns">
			<ul id="social">
				<li><%= image_tag "facebook.png" %></li>
				<li><%= image_tag "twitter.png" %></li>
			</ul>
		</div>
	</div>
</div>
