
<div id="footer">
	<div class="container">
		<div class="row">
			<div class="span6">
				&copy;2012 <%= link_to 'Katy Milstead', root_path %> All Rights Reserved
			</div>
			<div class="span6">
				<ul id="social" class="pull-right">
					<li><%= image_tag "facebook.png" %></li>
					<li><%= image_tag "twitter.png" %></li>
				</ul>
			</div>
		</div>
	</div>
</div>
