<div id="header">
	<div class="row">
		<div class="four columns">
			<%= image_tag "logo_bg.png", :class => 'logo' %>
		</div>
		<div class="eight columns">
			<ul class="navigation">
				<%= nav_link 'Home', root_path %>
					<% @pages_all.each do |page| %>
						<%= nav_link page.name, page_url(:page => page.name) %>
					<% end %>
			</ul>
		</div>
	</div>
</div>

