<div id="header">
	<div class="container">
		<div class="row">
				<div class="span4">
					<div class="logo">
						&nbsp
					</div>
				</div>
				<div class="span8">
					<div class="katy_aftermath">
						<span class="logo_name">Katy Aftermath</span>
						<br>
						<span class="sub_header">"A look inside the insanity that is Katy Aftermath"</span>
					</div>
				</div>
		</div>
	</div>

</div>